<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Confirmado</title>
</head>

<body style="font-family: Arial, sans-serif;">
    <div style="padding: 20px; background-color: #f0f0f0;">
        <h2 style="color: #2c3e50; text-align: center;">¡Gracias por registrarte, [[name]]!</h2>
        <p style="text-align: center;">Disfruta de nuestro de catálogo de talleres</p>
    </div>
</body>

</html>